@import "tailwindcss";

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Cairo", "Tajawal", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
